.root {
    -fx-background-image: url("images/win.png");
    -fx-background-size: cover;
}

.button {
    -fx-background-image: url("images/exitButton.png");
      -fx-min-width: 200px;
        -fx-min-height: 200px;
        -fx-max-width: 200px;
        -fx-max-height: 200px;
        -fx-background-size: cover;
        -fx-background-repeat: no-repeat;
        -fx-background-size: 200px 200px;
        -fx-background-position: center;
        -fx-background-color: transparent;
}